<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <style>
        .el-table .warning-row {
            background: oldlace;
        }
        .el-autocomplete{
            width: 100%;
        }
        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div id="app">
    <div>{{anno}}</div>
    <el-select v-model="form.serverName" placeholder="请选择">
        <el-option
                v-for="item in serverNames"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>
    <el-select v-model="sellOrBuy" placeholder="请选择">
        <el-option
                v-for="item in sellOrBuys"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>



    <el-input v-model="input" placeholder="请输入内容"></el-input>
    <!--    <el-button @click="visible = true">搜索</el-button>-->
    <el-button @click="searchData">搜索</el-button>

    <el-button type="text" @click="dialogFormVisible = true">添加</el-button>

    <el-dialog title="种子信息（1分钟内加一个）" :visible.sync="dialogFormVisible">
        <el-form :model="form">

            <el-form-item label="种子" :label-width="formLabelWidth">
<!--                <el-input :disabled = true v-model="form.name" autocomplete="off"></el-input>-->
                <el-autocomplete
                        v-model="state"
                        :fetch-suggestions="querySearchAsync"
                        placeholder="种子"
                        @select="handleSelect"
                ></el-autocomplete>
            </el-form-item>

            <el-form-item label="等级" :label-width="formLabelWidth">
                <el-input type="number" v-model="form.level" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="角色名" :label-width="formLabelWidth">
                <el-input v-model="form.roleName" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="服务器" :label-width="formLabelWidth">
                <el-select v-model="form.serverName" placeholder="请选择服务器">
                    <el-option label="国际服" value="国际服"></el-option>
                    <el-option label="国服" value="国服"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="买卖" :label-width="formLabelWidth">
                <el-select v-model="form.sellOrBuy" placeholder="买卖？">
                    <el-option label="卖" value="卖"></el-option>
                    <el-option label="买" value="买"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="价格" :label-width="formLabelWidth">
                <el-input type="number" v-model="form.price" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="单位" :label-width="formLabelWidth">
                <el-select v-model="form.unit" placeholder="单位">
                    <el-option label="c" value="c"></el-option>
                    <el-option label="e" value="e"></el-option>
                </el-select>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="add">确 定</el-button>
        </div>
    </el-dialog>

    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName">
            <el-table-column
                    prop="createdTime"
                    label="日期"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="种子"
                    width="600">
            </el-table-column>
            <el-table-column
                    prop="level"
                    label="等级"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="price"
                    label="价格"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="unit"
                    label="单位"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="sellOrBuy"
                    label="买卖"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="serverName"
                    label="服务器"
                    width="80">
            </el-table-column>
            <el-table-column
                    prop="whisper"
                    label="密语"
                    width="200">
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="100">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="http://luopq.com/demo/lib/jquery-1.10.2.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                visible: false,
                input: '',
//                url: 'http://118.25.88.251:8888/seedTrade',
                 url: 'http://127.0.0.1:8888/seedTrade',
                dialogFormVisible: false,
                form: {
                    name: "",
                    level: 83,
                    price: 1,
                    roleName: "",
                    sellOrBuy: "卖",
                    serverName: "国际服",
                    unit: "c"
                },
                serverNames: [{
                    value: '国际服',
                    label: '国际服'
                }, {
                    value: '国服',
                    label: '国服'
                }],
                anno: '',
                formLabelWidth: '120px',
                restaurants: [],
                state: '',
                timeout: null,
                sellOrBuys: [
                    {
                        value: '买',
                        label: '买'
                    },
                    {
                        value: '卖',
                        label: '卖'
                    }
                ],
                sellOrBuy:"卖"
            }
        },
        mounted: function () {
            this.getAnno();
            this.searchData();
            this.loadAll();
        },
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (rowIndex%2 === 0) {
                    return 'warning-row';
                } else {
                    return 'success-row';
                }
                return '';
            },
            searchData() {
                let that = this;
                $.get(this.url + "/seed?page=" + 1 + "&sellOrBuy="+this.sellOrBuy+"&serverName="+this.form.serverName+"&pageSize=" + 500 + "&keyValue=" + this.input, function (data, status) {
                    console.log(data);
                    that.tableData = data.rows;
                });
            },
            add() {
                console.log(this.form);
                let reuqest = this.form;
                reuqest.name = this.state;
                let url = this.url;
                console.log(reuqest);
                let that = this;

                $.ajax({
                        contentType: 'application/json',
                        url: url + "/seed/one",
                        type: 'POST',
                        data: JSON.stringify(reuqest),
                        success: function (result) {
                            that.$message(result);
                            that.dialogFormVisible = false;
                            that.searchData();
                        },
                    }
                );
            },

            querySearchAsync(queryString, cb) {
                var restaurants = this.restaurants;
                var results = queryString ? restaurants.filter(this.createStateFilter(queryString)) : restaurants;
                console.log("结果"+results);
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    cb(results);
                }, 3000 * Math.random());
            },
            createStateFilter(queryString) {
                return (state) => {
                    console.log(state.value.toLowerCase().indexOf(queryString.toLowerCase()));
                    return (state.value.toLowerCase().indexOf(queryString.toLowerCase()) >=0 ?true:false );
                };
            },

            loadAll() {
                let that = this;
                $.get(this.url + "/seed/affix", function (data, status) {
                    console.log(data);
                    that.restaurants = data;
                });
            },
            handleSelect(item) {
                console.log(item);
            },
            getAnno(){
                let that = this;
                $.get(this.url + "/seed/anno", function (data, status) {
                    console.log(data);
                    that.anno = data;
                });
            },
            handleClick(row){
                let id = row.id;
                let that = this;
                $.ajax({
                    url: this.url+"/seed/"+id,
                    type: 'DELETE',
                    success:function (result) {
                        that.$message(result);
                        that.searchData();
                    }
                });
            }
        }
    })
</script>
</html>